

<div>
    <div class="flex flex-row flex-wrap">
        <div class="flex flex-column flex-wrap px-4 max-w-20rem flex-grow-1">
            <i></i>

            <p class="text-4xl py-4">Integrali</p>

            <p>matematica</p>

            <p>3D</p>

            <p>Descrizione</p>
            
            <p class="pb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class = "ph-8"></div>
            <div class="flex flex-colum flex-wrap max-h-max pt-8">
                <div class="flex flex-row flex-wrap pt-8 mt-8">
                    <div class = "flex flex-wrap max-h-full flex-column align-content-end">
                        <p class = "flex">Mario rossi</p>
                        <p class = "flex">⭐⭐⭐⭐⭐</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-row flex-wrap px-8"></div>
        <div class="flex flex-row flex-wrap px-8"></div>
        <div class="flex flex-row flex-wrap px-8"></div>
        <div class="flex flex-row flex-wrap px-8"></div>
        <div class="flex flex-column flex-wrap">
            <div class="flex flex-row flex-wrap ml-8 pl-8">
                 <div class = "flex flex-column flex-wrap ml-8 pl-8">
                    <p class = "flex pl-2">Mario Rossi</p>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
            </div>
            <div class="flex flex-row flex-wrap">
                <p></p>
                <div>
                    <img src="/assets/image/ds.png" width="460px" height="600px">
                </div>
            </div>
            <div class="example-button-row flex flex-row flex-wrap ml-8 pl-8">
                <button mat-raised-button>Download</button>
              </div>
        </div>
    </div>
   </div>


